/** {
    border: 1px solid red !important;
}*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-color: #8492ff;
}
h1 {
    color: #fc2a2a;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
#black {
    color: black;
    text-shadow:
    -0.33px -0.33px 0 #FFF,
    0.33px -0.33px 0 #FFF,
    -0.33px 0.33px 0 #FFF,
    0.33px 0.33px 0 #FFF;
}
h3 {
    text-align: center;
}
#logo {
    max-width: 40%;
    max-height: 40%;
    margin: auto;
    float: left;
}
.col-md-6 {
    color: white;
}
#navbar {
    margin: auto;
}
#navigation {
    outline: 1px solid gray;
}
#Middle {
    outline: 1px solid gray;
}
#Bottom {
    outline: 1px solid gray;
}
#myCarousel {
    min-height: 200px;
}
#carousel-inner {
    text-align: center;
}
#hvac {
    margin: auto;
}
#mission {
    margin: auto;
}
#support {
    margin: auto;
}
#const {
    margin: auto;
}
#nav {
    display: flex;
    display: 100%;
    text-align: center;
}
#Home {
    width: 33.3%;
}
#Company {
    width: 33.3%;
}
#Service {
    width: 33.3%;
}
.col-md-12 {
    text-align: center;
}